form.jz dd {
	zoom: 1;
	background: red;
	display: inline;
}

.jz-list {
	top: 1.55em;
	width: expression(this.previousSibling.offsetWidth + 'px');
}

.jz-list iframe {
	height: expression(this.parentNode.offsetHeight + 'px');
}