form.jz ul,
form.jz li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

form.jz dl {
	position: relative;
}

form.jz dt {
	float: left;
	width: 10em;
}

form.jz dd {
	display: inline;
}

.jz-hidden {
	visibility: hidden;
}

.jz-invisible {
	display: none;
}

.jz dd {
	position: relative;
}

.jz-focused {
	z-index: 2;
}

.jz-placeholder {
	position: absolute;
	left: 0.2em;
	top: 0;
	color: #CCC;
}

.jz-list {
	position: absolute;
	left: 0;
	width: 100%;
	border: 1px solid #000;
	background: #FFF;
}

.jz-list iframe {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #FFF;
}

.jz-list li {
	padding: 0.1em 0.3em;
	cursor: default;
	white-space: nowrap;
}

.jz-list li:hover {
	background: #EFEFEF;
}

.jz-list li.jz-selected {
	background: #CCC;
}

.jz-invalid input {
	color: #FF0000;
}

.jz-invalid-ok input {
	color: #009000;
}